body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 100px 100px 100px 100px;
    justify-self: center;
}

.table > div {
    background-color: blanchedalmond;
    border: 1px solid black;
    text-align: center;
}

.table > .author {
}