body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    top: 30%;
    right: 60%;
}

.book-container {
    top: 30%;
    right: 35%;
}
.table, .book-container {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 60px 60px 60px 60px;
    position: absolute;
}

.table > div, .book-container > div {
    background-color: blanchedalmond;
    border: 1px solid black;
    text-align: center;
}

.book-container > div > h4 > input {
    border-radius: 5px;
    width: 160px;
}

.book-container > input {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(155, 154, 154);
}