body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    top: 30%;
    right: 60%;
}

.book-container {
    top: 30%;
    right: 35%;
    background-color: antiquewhite;
}

.book-shelf { 
    top: 2%;
    left: 85%;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    position: absolute;
}

.book-shelf > div {
    padding-top: 10px;
    font-family: inherit;
}

.book-shelf > div > .remove {
    margin-left: 2px;
    width: 50px;
    font-size: 12px;
}

.table, .book-container {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 60px 60px 60px 60px;
    position: absolute;
}

.table > div, .book-container > div, .book-shelf > div {
    background-color: blanchedalmond;
    border: 1px solid black;
    text-align: center;
}

.book-container > form > div > h4 > input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 170px;
    margin-left: 7px;
}

button {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(155, 154, 154);
}

#submit {
    margin-left: 125px;
}

form {
    background-color: antiquewhite;
}
